#:schema ./node_modules/wrangler/config-schema.json

name = "yangchun-comment-be"
main = "src/index.ts"
compatibility_date = "2025-05-08"
compatibility_flags = ["nodejs_compat"]

# Workers Logs
[observability]
enabled = true
head_sampling_rate = 1 # optional. default = 1.

[[kv_namespaces]]
binding = "COMMENTS"
id = "<KV_COMMENTS_ID>"
preview_id = "<KV_COMMENTS_PREVIEW_ID>"

[[unsafe.bindings]]
name = "RATE_LIMITER_POST"
type = "ratelimit"
namespace_id = "1000"
simple = { limit = 2, period = 10 } # 2 requests per minute

[[unsafe.bindings]]
name = "RATE_LIMITER_GET"
type = "ratelimit"
namespace_id = "1001"
simple = { limit = 20, period = 10 } # 20 requests every 10 seconds

[vars]
FRONTEND_URL = "https://your-frontend-url.com" # Frontend URL
CORS_ORIGIN = "*" # CORS origin, use "*" to allow all origins
RSS_SITE_PATH = "site"   # The path for the all-site RSS feed
ADMIN_USERNAME = "admin" # Admin username
MAX_MSG_LENGTH = 1000            # The max length of the comment message in characters
MAX_PSEUDONYM_LENGTH = 80        # The max length of the pseudonym in characters
MAX_ALL_SITE_RSS_COMMENTS = 25   # The max number of comments in the all-site RSS feed
# POST_REGEX = "${POST_REGEX}"
PRE_POW_DIFFICULTY = 2        # The difficulty for the pre-proof-of-work
PRE_POW_TIME_WINDOW = 60      # The time window (in seconds) for the pre-proof-of-work
PRE_POW_MAGIC_WORD = "FIXED" # The magic word for the pre-proof-of-work
FORMAL_POW_DIFFICULTY = 4 # The difficulty for the formal proof-of-work
FORMAL_POW_EXPIRATION = 300  # The expiration time (in seconds) for the formal proof-of-work challenges


# Secrets
# HMAC_SECRET_KEY = "${HMAC_SECRET_KEY}"   # HMAC secret key for signing
# ADMIN_SECRET_KEY = "${ADMIN_SECRET_KEY}" # JWT secret key for admin
# ADMIN_PASSWORD = "${ADMIN_PASSWORD}"     # Admin password
# FORMAL_POW_SECRET_KEY= "${FORMAL_POW_SECRET_KEY}" # Secret key for formal PoW
