#:schema ./node_modules/wrangler/config-schema.json

name = "yangchun-comment-be"
main = "src/index.ts"
compatibility_date = "2025-05-08"
compatibility_flags = ["nodejs_compat"]

# Workers Logs
[observability]
enabled = true
head_sampling_rate = 1 # optional. default = 1.

[[d1_databases]]
binding = "DB"
database_name = "yangchun-comment-db"
database_id = "<D1_DATABASE_ID>"
preview_database_id = "<D1_DATABASE_PREVIEW_ID>"

[[kv_namespaces]]
binding = "COMMENTS"
id = "<KV_COMMENTS_ID>"
preview_id = "<KV_COMMENTS_PREVIEW_ID>"

[vars]
FRONTEND_URL = "https://your-frontend-url.com" # Frontend URL
CORS_ORIGIN = "http://localhost:5173" # CORS origin, use "*" to allow all origins
RSS_SITE_PATH = "site"   # The path for the all-site RSS feed
ADMIN_USERNAME = "admin" # Admin username
MAX_ALL_SITE_RSS_COMMENTS = 20   # The max number of comments in the all-site RSS feed
MAX_THREAD_RSS_COMMENTS = 10     # The max number of comments in the thread RSS feed
# POST_REGEX = "${POST_REGEX}"
PRE_POW_DIFFICULTY = 2        # The difficulty for the pre-proof-of-work
PRE_POW_TIME_WINDOW = 60      # The time window (in seconds) for the pre-proof-of-work
PRE_POW_MAGIC_WORD = "FIXED" # The magic word for the pre-proof-of-work
FORMAL_POW_DIFFICULTY = 4 # The difficulty for the formal proof-of-work
FORMAL_POW_EXPIRATION = 300  # The expiration time (in seconds) for the formal proof-of-work challenges


# Secrets
# HMAC_SECRET_KEY = "${HMAC_SECRET_KEY}"   # HMAC secret key for signing
# ADMIN_SECRET_KEY = "${ADMIN_SECRET_KEY}" # JWT secret key for admin
# ADMIN_PASSWORD = "${ADMIN_PASSWORD}"     # Admin password
# FORMAL_POW_SECRET_KEY= "${FORMAL_POW_SECRET_KEY}" # Secret key for formal PoW
