---
export interface Props {
  post?: string;
  apiUrl?: string;
  language?: 'en' | 'zh-Hant';
  authorName?: string;
}

const {
  post = '/demo/example-post',
  apiUrl = 'http://localhost:8787/',
  language = 'en',
  authorName,
} = Astro.props;

// Import the component styles
import '@yangchun-comment/client/style.css';
---

<div id="comment-container">
  <yangchun-comment post={post} api-url={apiUrl} language={language} author-name={authorName}
  ></yangchun-comment>
</div>

<script>
  // Import the component
  import '@yangchun-comment/client';
</script>

<style>
  #comment-container {
    /* Override CSS variables to follow site color scheme */
    --ycc-text-color: var(--sl-color-text);
    --ycc-background-color: var(--sl-color-bg);
    --ycc-primary-color: var(--sl-color-text-accent);
    --ycc-minimal: var(--sl-color-gray-7);
  }
</style>
