---
import CfCommentBox from '../components/CfCommentBox.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <script type="importmap">
      {
        "imports": {
          "dompurify": "https://cdn.jsdelivr.net/npm/dompurify@3.2.6/+esm",
          "snarkdown": "https://cdn.jsdelivr.net/npm/snarkdown@2.0.0/+esm",
          "lit-html": "https://cdn.jsdelivr.net/npm/lit-html@3.3.0/lit-html.min.js",
          "lit-html/directives/until.js": "https://cdn.jsdelivr.net/npm/lit-html@3.3.0/directives/until.js",
          "lit-html/directives/unsafe-html.js": "https://cdn.jsdelivr.net/npm/lit-html@3.3.0/directives/unsafe-html.js"
        }
      }
    </script>
  </head>
  <body>
    <h1>Astro</h1>
    <CfCommentBox />
  </body>
</html>
