:root {
  --sl-font: 'Inter', sans-serif;
  --sl-content-width: 65rem;
  --sl-sidebar-width: 16.5rem;
}

.hero {
  padding: 0 1rem 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .sl-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1,
.hero .tagline {
  text-align: center;
}

.hero .actions {
  justify-content: center;
}

/* :root[data-theme='light'] {
} */
