name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

env:
  SECRET_COMMENT_HMAC_KEY: test_secret_key

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          # https://developers.cloudflare.com/pages/configuration/build-image/#tools
          # version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          # https://developers.cloudflare.com/pages/configuration/build-image/#languages-and-runtime
          # node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --ignore-scripts

      - name: Formatter and linter
        run: |
          pnpm format:check
          pnpm type-check
          pnpm lint

      - name: Build packages
        run: pnpm build

      - name: Run tests
        run: pnpm test
